.footer{
    display: flex;
    background-color: grey;
    color: white;
    font-weight: 200;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    padding:20px 20px 20px 20px;
    align-items: center;
}

p {
    margin: 10px;
   
}


 a {
    text-decoration: none;
    color : white;
    margin: 5px;
    
 }

 .iconsfooter{
    margin-left: auto;
   justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
   
 }

 .linkedin .facebook{
    height: 30px;
    width: 30px;
    
 }

 .logofooter{
   height: 30px;
   width: 30px;

 }
